body {
  margin: 0px;
  font-family: "Open Sans";
  color: #fff;
  background: #202020;
  position: relative;
  /* pointer-events: none; */
}
body * {
  box-sizing: border-box;
}
header {
  background: #cdcdcb;
}
.content {
  max-width: 1122px;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  padding: 8px 26px;
}
.navbar_left, .navbar_right {
  flex: 0 0 50%;
  display: flex;
}
ul.nav {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
ul.nav li {
  display: inline-block;
  font-size: 13px;
}
ul.nav li > a {
  color: #121212;
  text-decoration: none;
  height: 34px;
  line-height: 34px;
  display: inline-block;
  padding: 0px 10px;
}
ul.nav li:first-child > a {
  padding-left: 0px;
}
input[type="button"] {
  font-size: 14px;
  color: #fff;
  background: #35a542;
  outline: none;
  border: 0px;
  border-radius: 3px;
  padding: 9px 30px;
  cursor: pointer;
}
.search_wrap {
  position: relative;
  margin-right: 20px;
  flex: 1;
}
.search_input {
  width: 100%;
  background: #b1b1b1;
  outline: none;
  border: 0px;
  border-radius: 4px;
  height: 34px;
}
.search-icon {
  width: 20px;
  height: 20px;
  fill: #2d2d2d;      
  position: absolute;
  right: 7px;
  top: 7px;
}
.android_video {
  display: none;
}
.controls {
  height: 50px;
  display: flex;
  background: #121713;
  border-top: 1px solid #272727;
}
.control {
  width: 66px;
  fill: #fff;
  color: #fff;
  border-right: 1px solid #272727;
  text-align: center;
  padding: 15px 0px 16px;
}
.control svg {
  height: 100%;
}
.progress-bar {
  flex: 1;
  padding: 16px 30px 15px;
  border-right: 1px solid #272727;
}
.play-bar-body {
  background: #333335;
  height: 18px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.play-bar-grey {
  background: #5f5d5e;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
}
.play-bar-red {
  background: #c42529;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 18px;
}
.icon-volume-up > svg {
  height: 24px;
  margin-top: -3px;
}
.icon-hd > span {
  font-size: 22px;
  line-height: 18px;
  height: 18px;
  display: inline-block;
  font-family: arial;
}
.icon-arrows {
  border-right: 0px;
}
.pop {
  position: absolute;
  top: 86px;
  left: calc(50% - 210px);
  max-width: 420px;
  text-align: center;
  border: 1px solid #b7b7b7;
  border-radius: 6px;
  background-color: rgba(0,0,0,0.8);
}
.pop-inner {
  padding: 60px 40px 45px 40px;
}
.msg {
  width: 338px;
  font-size: 18px;
}
.msg p.reg_time {
  color: #6bbe00;
  margin-bottom:40px;
}
.msg > p {
  margin: 0px 0px 16px;
}
a.continue_btn {
  font-size: 18px;
  color: #000;
  background: #6bbe00;
  padding: 9px 22px 9px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
}
a.continue_btn:hover {
  opacity: 0.7;
}
.hidden {
  display: none;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}
.mobile_menu {
  display: none;
  width: 34px;
  height: 34px;
  background: #b1b1b1;
  border-radius: 4px;
  padding: 6px;
}
.icon-bars {
  height: 22px;
}
@media screen and (max-width: 768px) {
  header {
    margin-bottom: 4px;
  }
  .mobile_menu {
    display: block;
  }
  .nav {
    display: none;
  }
  .search_wrap {
    margin-right: 12px;
  }
  .search_input {
    width: 34px;
    float: right;
  }
  .control {
    width: 46px;
  }
  a.continue_btn {
    font-size: 20px;
    padding: 10px 25px;
  }
  .msg {
    font-size: 20px;
    margin: 0 auto;
  }
  .pop {
    width: 76%;
    max-width: 100%;
    top: 8%;
    left: 12%;
  }
}
@media screen and (max-width: 680px) {
  .pop-inner {
    padding: 6%;
  }
}
@media screen and (max-width: 480px) {
  .controls {
    height: 33px;
    border-top: 0px;
  }
  .icon-gear {
    display: none;
  }
  .control.icon-volume-up > svg {
    height: 16px;
    margin-top: -3px;
  }
  .control {
    width: 33px;
    padding: 11px 0px;
  }
  .control > svg {
    height: 11px;
  }
  .icon-hd > span {
    font-size: 14px;
    height: 11px;
    line-height: 11px;
  }
  .play-bar-body {
    height: 11px;
    border-radius: 2px;
  }
  .progress-bar {
    padding: 12px 12px;
  }
  .msg {
    width: 262px;
    font-size: 14px;
  }
  .pop {
    width: 88%;
    left: 6%;
    top: 4%;
  }
  .pop-inner {
    padding: 20px 20px;
  }
  a.continue_btn {
    font-size: 14px;
    padding: 9px 25px 10px;
  }
  .msg p.reg_time {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .pop {
    width: 92%;
    left: 4%;
  }
  .pop-inner {
    padding: 20px 10px;
  }
}
@media screen and (max-width: 320px) {

}